(
    name: "Stair Switchback",
    sector_size: 1792,
    width: 3,
    height: 5,
    merge_primitives: false,
    materials: {
        985: "BLOCK_1A Material",
        1002: "BRICK_1A Material",
        1032: "COBBLES_1A Material",
    },
    floors: [
        (
            relative_elevation: 0,
            cells: [
                (offset: (0, 0), sector: Some((floor: Some((heights: (0, 0, 0, 0), split: NorthWestSouthEast, material: Some((1032)), walkable: true, dropped_corner: None)), ceiling: None, walls: (north: [], east: [(heights: (0, 0, 3584, 3584), material: Some((985)), solid: true, dropped_corner: None)], south: [], west: [(heights: (0, 0, 3584, 3584), material: Some((985)), solid: true, dropped_corner: None)], north_west_south_east: [], north_east_south_west: [])))),
                (offset: (0, 1), sector: Some((floor: Some((heights: (512, 512, 512, 512), split: NorthWestSouthEast, material: Some((1032)), walkable: true, dropped_corner: None)), ceiling: None, walls: (north: [], east: [(heights: (512, 512, 3584, 3584), material: Some((985)), solid: true, dropped_corner: None)], south: [(heights: (0, 0, 512, 512), material: Some((985)), solid: true, dropped_corner: None)], west: [(heights: (512, 512, 3584, 3584), material: Some((985)), solid: true, dropped_corner: None)], north_west_south_east: [], north_east_south_west: [])))),
                (offset: (0, 2), sector: Some((floor: Some((heights: (1024, 1024, 1024, 1024), split: NorthWestSouthEast, material: Some((1032)), walkable: true, dropped_corner: None)), ceiling: None, walls: (north: [], east: [(heights: (1024, 1024, 3584, 3584), material: Some((985)), solid: true, dropped_corner: None)], south: [(heights: (512, 512, 1024, 1024), material: Some((985)), solid: true, dropped_corner: None)], west: [(heights: (1024, 1024, 3584, 3584), material: Some((985)), solid: true, dropped_corner: None)], north_west_south_east: [], north_east_south_west: [])))),
                (offset: (0, 3), sector: Some((floor: Some((heights: (1536, 1536, 1536, 1536), split: NorthWestSouthEast, material: Some((1032)), walkable: true, dropped_corner: None)), ceiling: None, walls: (north: [], east: [(heights: (1536, 1536, 3584, 3584), material: Some((985)), solid: true, dropped_corner: None)], south: [(heights: (1024, 1024, 1536, 1536), material: Some((985)), solid: true, dropped_corner: None)], west: [(heights: (1536, 1536, 3584, 3584), material: Some((985)), solid: true, dropped_corner: None)], north_west_south_east: [], north_east_south_west: [])))),
                (offset: (0, 4), sector: Some((floor: Some((heights: (2048, 2048, 2048, 2048), split: NorthWestSouthEast, material: Some((1032)), walkable: true, dropped_corner: None)), ceiling: None, walls: (north: [(heights: (2048, 2048, 3584, 3584), material: Some((985)), solid: true, dropped_corner: None)], east: [], south: [(heights: (1536, 1536, 2048, 2048), material: Some((985)), solid: true, dropped_corner: None)], west: [(heights: (2048, 2048, 3584, 3584), material: Some((985)), solid: true, dropped_corner: None)], north_west_south_east: [], north_east_south_west: [])))),
                (offset: (1, 4), sector: Some((floor: Some((heights: (2048, 2048, 2048, 2048), split: NorthWestSouthEast, material: Some((1032)), walkable: true, dropped_corner: None)), ceiling: None, walls: (north: [(heights: (2048, 2048, 3584, 3584), material: Some((985)), solid: true, dropped_corner: None)], east: [], south: [(heights: (2048, 2048, 3584, 3584), material: Some((985)), solid: true, dropped_corner: None)], west: [], north_west_south_east: [], north_east_south_west: [])))),
                (offset: (2, 4), sector: Some((floor: Some((heights: (2048, 2048, 2048, 2048), split: NorthWestSouthEast, material: Some((1032)), walkable: true, dropped_corner: None)), ceiling: None, walls: (north: [(heights: (2048, 2048, 3584, 3584), material: Some((985)), solid: true, dropped_corner: None)], east: [(heights: (2048, 2048, 3584, 3584), material: Some((985)), solid: true, dropped_corner: None)], south: [], west: [], north_west_south_east: [], north_east_south_west: [])))),
                (offset: (2, 3), sector: Some((floor: Some((heights: (2560, 2560, 2560, 2560), split: NorthWestSouthEast, material: Some((1032)), walkable: true, dropped_corner: None)), ceiling: None, walls: (north: [(heights: (2048, 2048, 2560, 2560), material: Some((985)), solid: true, dropped_corner: None)], east: [(heights: (2560, 2560, 3584, 3584), material: Some((985)), solid: true, dropped_corner: None)], south: [], west: [(heights: (2560, 2560, 3584, 3584), material: Some((985)), solid: true, dropped_corner: None)], north_west_south_east: [], north_east_south_west: [])))),
                (offset: (2, 2), sector: Some((floor: Some((heights: (3072, 3072, 3072, 3072), split: NorthWestSouthEast, material: Some((1032)), walkable: true, dropped_corner: None)), ceiling: None, walls: (north: [(heights: (2560, 2560, 3072, 3072), material: Some((985)), solid: true, dropped_corner: None)], east: [(heights: (3072, 3072, 3584, 3584), material: Some((985)), solid: true, dropped_corner: None)], south: [(heights: (3072, 3072, 3584, 3584), material: Some((985)), solid: true, dropped_corner: None)], west: [(heights: (3072, 3072, 3584, 3584), material: Some((985)), solid: true, dropped_corner: None)], north_west_south_east: [], north_east_south_west: []), floor_above: Some((target_floor: 1))))),
            ],
        ),
        (
            relative_elevation: 3584,
            cells: [
                (offset: (2, 1), sector: Some((floor: Some((heights: (0, 0, 0, 0), split: NorthWestSouthEast, material: Some((1032)), walkable: true, dropped_corner: None)), ceiling: Some((heights: (7168, 7168, 7168, 7168), split: NorthWestSouthEast, material: Some((1002)), walkable: true, dropped_corner: None)), walls: (north: [], east: [(heights: (0, 0, 7168, 7168), material: Some((985)), solid: true, dropped_corner: None)], south: [], west: [(heights: (0, 0, 7168, 7168), material: Some((985)), solid: true, dropped_corner: None)], north_west_south_east: [], north_east_south_west: [])))),
                (offset: (2, 2), sector: Some((floor: Some((heights: (0, 0, 0, 0), split: NorthWestSouthEast, material: Some((1032)), walkable: true, dropped_corner: None)), ceiling: Some((heights: (7168, 7168, 7168, 7168), split: NorthWestSouthEast, material: Some((1002)), walkable: true, dropped_corner: None)), walls: (north: [(heights: (0, 0, 7168, 7168), material: Some((985)), solid: true, dropped_corner: None)], east: [(heights: (0, 0, 7168, 7168), material: Some((985)), solid: true, dropped_corner: None)], south: [], west: [(heights: (0, 0, 7168, 7168), material: Some((985)), solid: true, dropped_corner: None)], north_west_south_east: [], north_east_south_west: []), floor_below: Some(())))),
            ],
        ),
    ],
    lights: [
        (
            cell: (
                0,
                2,
            ),
            height_sectors: 1.0,
            color: (
                255,
                255,
                255,
            ),
            intensity: 1.0,
            radius: 3.5,
        ),
    ],
)