*
!.gitignore
!default/
!default/**
!cortex_override_v1/
!cortex_override_v1/project.ron
!cortex_override_v1/assets/
!cortex_override_v1/assets/textures/
!cortex_override_v1/assets/textures/bonnie_studios_logo_128.psxt
!cortex_override_v1/assets/textures/bonnie_studios_logo_inverted_128.png
*/cooked/
*/baked/
*/logs/
